API_FLOWERS='https://411c6a49-b68f-43ad-be5e-54bda514718a.mock.pstmn.io/Flowers'

API_PLANTS='https://411c6a49-b68f-43ad-be5e-54bda514718a.mock.pstmn.io/Plants'

API_GIFTS='https://411c6a49-b68f-43ad-be5e-54bda514718a.mock.pstmn.io/Gifts'