.AboutUs__Container {
  height: min(100vh, 506px);
  padding: 0 20px;
  margin: 5% 12px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.AboutUs_Picture {
  grid-row: 1 / 3;
}

.AboutUs_Picture img {
  width: 500px;
  object-fit: cover;
}

.Vision__Container {
  grid-column: 2 / 3;
  grid-row: 1 / 1;
}

.Mision__Container {
  grid-column: 2 / 3;
  grid-row: 2 / 2;
}

.AboutUs__Container header {
  font-family: Satisfy;
  font-size: 30px;
  color: white;
}

.AboutUs__Container p {
  font-family: Gabriela;
  text-align: justify;
  line-height: 48px;
}

@media (max-width: 850px) {
  .AboutUs__Container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 5px;
    margin-top: 90px;
  }

  .AboutUs_Picture {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
  }

  .AboutUs__Container img {
    width: 300px;
  }

  .Vision__Container,
  .Mision__Container {
    width: fit-content;
  }

  .Vision__Container p,
  .Mision__Container p {
    font-size: 15px;
    line-height: 30px;
  }
}
