* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Satisfy;
  src: url(../assets/fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
  font-family: Gabriela;
  src: url(../assets/fonts/Gabriela/Gabriela-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}

body {
  background: #ec99b7;
  box-sizing: border-box;
  overflow-x: hidden;
}
