.photos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background: #ffb49f;
  border-radius: 40px;
  padding: 20px 0px;
  justify-content: space-evenly;
}

.thumbnails img {
  width: 341px;
  height: 248px;
  margin: 4px 10px;
  object-fit: cover;
  border-radius: 20%;
  opacity: 0.7;
  transition: transform 900ms, opacity 900ms;
}

.thumbnails img:hover {
  transform: scale(1.5);
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 850px) {
  .thumbnails img {
    transition: none;
    width: 300px;
    height: auto;
    object-fit: coverÍ;
  }

  .thumbnails img:hover {
    transform: none;
  }

  .collageContainer .thumnbnails .planCollageImage {
    width: 180px;
  }
}

@media (min-height: 320px) and (max-width: 570px) {
  .collageContainer .thumnbnails .planCollageImage {
    width: 127px;
    height: auto;
    object-fit: cover;
  }
}

@media (min-height: 320px) and (max-width: 570px) and (orientation: landscape) {
  .collageContainer {
    width: auto;
  }
}
