.Flowers__Container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  height: 100vh;
  justify-items: center;
}

.Flowers__Album {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-items: center;
  gap: 10px;
}

.CurrentFlower_Container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0 0 0 10px;
  margin-top: 100px;
  text-align: center;
}

.CurrentFlowe-info {
  padding: 0 10px;
}

.CurrentFlowe-info h1 {
  font-family: Satisfy;
  font-size: 80px;
}
.CurrentFlowe-info p {
  font-family: Roboto;
  font-weight: lighter;
  font-size: 15px;
  line-height: 25px;
}

.CurrentFlower--img {
  box-shadow: 4px -1px 16px #c76478;
  border-radius: 200px 0 0 200px;
  width: 700px;
  height: 500px;
}
.CurrentFlower--img img {
  width: 700px;
  height: 500px;
  object-fit: cover;
  border-radius: 200px 0 0 200px;
  margin-right: 0;
}

.item_Container img {
  width: 350px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 20px;
}

.item_Container img:hover {
  transform: scale(1.5);
}

@media (max-width: 850px) {
  .Flowers__Container {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    align-content: center;
    margin-bottom: 40px;
    justify-content: center;
  }


  .Flowers__Container .ant-carousel {
    position: absolute;
    top: 65px;
  }

  .CurrentFlower_Container {
    margin-top: calc(90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .CurrentFlowe-info {
    padding: 10px;
  }

  .CurrentFlowe-info h1 {
    font-family: Satisfy;
    font-size: 40px;
  }
  .CurrentFlowe-info p {
    font-size: 15px;
  }

  .CurrentFlower--img {
    margin-left: 0%;
    width: 370px;
    height: auto;
    border-radius: 0;
  }
  .CurrentFlower--img img {
    width: 370px;
    height: auto;
    object-fit: cover;
    border-radius: 0;
  }

  .item_Container img {
    width: 260px;

    transition: none;
  }
  .item_Container img:hover {
    transform: none;
  }
}

@media (max-width: 850px) and (orientation: landscape) {
  .CurrentFlower_Container {
    position: absolute;
    top: 150px;
  }
}
