.thumnbnails {
  margin: 10px;
  position: relative;
  display: flex;
}

.thumnbnails img {
  width: 210px;
  height: 142px;
  object-fit: cover;
}

.actionButtons-Collage-container {
  position: absolute;
  display: flex;
  margin-top: 5px;
}

.actionButtonCollage {
  outline: none;
  background: #f4feff;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  margin: 4px 6px;
  padding: 3px 5px;
  opacity: 0.5;
}

.actionButtonCollage:hover {
  opacity: 1;
}

.actionButtonCollage:active {
  box-shadow: 1px 2px 8px 1px rgb(255, 110, 190);
  opacity: 1;
}

.actionButtonCollage img {
  width: 20px;
  height: 20px;
}

@media (min-width: 1280px) {
  .thumnbnails {
    margin: 6px 0;
    position: relative;
    display: flex;
  }

  .collageContainer .thumnbnails .planCollageImage {
    width: 210px;
    height: auto;
    object-fit: cover;
  }
}

@media (min-width: 320px) and (max-height: 570px) {
  #app .PlantsContainer .container .collageContainer .planCollageImage > img {
    width: 140px;
    height: auto;
    object-fit: cover;
  }

  .ProductDetails__Container
    .ProductContainer
    .Product-collage-Container
    .thumnbnails
    .planCollageImage {
    width: 143px;
    height: auto;
    object-fit: cover;
  }
}
