@font-face {
    font-family: Satisfy;
    src: url(../assets/fonts/Satisfy/Satisfy-Regular.ttf);
}

.navbar {
    font-family: Satisfy;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    color: white;
}

.navbar li {
    margin: 0 10px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar li a:hover {
    color: black;
}