.PlantsContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 1vw;
}

@media (max-width: 1280px) {
  .PlantsContainer {
    padding: 0;
    margin-bottom: 8vw;
  }
}

@media (max-width: 850px) {
  .PlantsContainer {
    display: flex;
    flex-direction: column-reverse;
  }
}
