.ProductDetails__Container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

@media (min-width: 1280px) {
  .ProductDetails__Container {
    grid-template-columns: 50% 50%;
  }

  .Product-collage-Container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin-left: calc(1vh);
  }

  .ProductDetails__Container
    .Product-collage-Container
    .thumnbnails
    .planCollageImage {
    width: 200px;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 850px) {
  .ProductDetails__Container {
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
  }

  .ProductContainer_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .ProductDetails__Container
    .ProductContainer
    .Product-collage-Container
    .thumnbnails
    .planCollageImage {
    width: 160px;
    height: auto;
    object-fit: cover;
  }
}
