.ProductContainer {
  margin: 40px 40px;
  grid-column: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProductContainer-image {
  width: 560px;
  padding: 10px 0px;
}
.ProductContainer-image img {
  width: 553px;
  height: 340px;
}

.ProductContainer-image h1 {
  text-align: center;
  color: white;
}

.Product-collage-Container {
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.Product-collage-Container div {
  margin: 0;
  padding: 0;
  margin: 1vh 0;
}

.ProductContainer-button {
  opacity: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f4feff;
  border-radius: 40px;
  position: absolute;
  width: 50px;
  height: 40px;
  left: 490px;
  top: 100px;
  cursor: pointer;
}

.ProductContainer-button img {
  width: 23px;
  height: 22px;
  cursor: pointer;
}

.ProductContainer-button:hover {
  opacity: 1;
}

@media (max-width: 1280px) {
  .ProductContainer {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-column: 1 / 1;
  }

  .ProductContainer-image {
    display: grid;
    place-content: center;
    place-items: center;
  }

  .Product-collage-Container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin-left: calc(1vh);
    justify-items: center;
  }

  .ProductContainer-button {
    left: 501px;
    top: 159px;
  }
}
