.SocialSideBar_container {
  background: #ffe4f4;
  border-radius: 20px;
  margin-top: 20px;
  width: 60%;
  padding: 10px;
}

.SoccialSIdeBar--list {
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.SoccialSIdeBar--list li {
  padding: 0 2px;
}

.SoccialSIdeBar--list li img {
  width: 30px;
  height: 30px;
}

.SoccialSIdeBar--list li a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

@media (max-width: 850px) {
  .SocialSideBar_container {
    width: 90vw;
  }
}
