@font-face {
  font-family: "Satisfy";
  src: url(../assets/fonts/Satisfy/Satisfy-Regular.ttf);
}

.title {
  padding: 0px 5px;
  width: calc(50vw);
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}
.title > * {
  margin: 6px 0;
}

.title h1 {
  font-family: Satisfy;
  font-size: 80px;
  margin-bottom: 10px;
}

.title p {
  font-size: 35px;
  font-family: Roboto;
}

@media (max-width: 850px) {
  .title {
    width: 80vw;
    justify-content: space-evenly;
  }
  .title h1 {
    font-size: 40px;
  }

  .title p {
    font-size: 25px;
  }
}
